VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2026-08-23
VITE_WHATSAPP_NUMBER=91XXXXXXXXXX
VITE_BUSINESS_PHONE=+91 XXXXXXXXXX
VITE_BUSINESS_LOCATION=[Business Location]
